body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  height: 100vh;
  overflow: hidden;
  flex-direction: column
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

.viewActive {
  color: rgb(255, 220, 106);
  padding-left: 25px;
}

.view {
  padding-left: 25px;
  color: white;
}

.contenedor {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 15vh;
}

.contenedor-img,
.foto-pokemon {
  width: 25%;
}

.foto1 {
  width: 100%;
}

.contenedor-texto{
  font-size: 3vw;
}

.contenedor-texto p {
  margin: 0%;
}

.personajeView {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.selectView {
  margin: 25px;
  padding: 5px 20px 5px 20px;
}

.detalle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}